[submodule "themes/hugo-natrium-theme"]
	path = themes/hugo-natrium-theme
	url = https://github.com/drawfunction/hugo-natrium-theme.git
[submodule "public"]
	path = public
	url = git@github.com:drawfunction/drawfunction.net.git
	branch = master
